In [2]:
import numpy as np
import pandas as pd

### 데이터 읽어오기 및 확인

In [3]:
data = pd.read_csv('data/cs_data.csv')
data.drop(columns='Unnamed: 0', inplace=True)
print(data.shape)
print(data.info()) # 데이터 구조 확인

(150000, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 11 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   SeriousDlqin2yrs                      150000 non-null  int64
 1   RevolvingUtilizationOfUnsecuredLines  150000 non-null  float64
 2   age                                   150000 non-null  int64
 3   NumberOfTime30-59DaysPastDueNotWorse  150000 non-null  int64
 4   DebtRatio                             150000 non-null  float64
 5   MonthlyIncome                         120269 non-null  float64
 6   NumberOfOpenCreditLinesAndLoans       150000 non-null  int64
 7   NumberOfTimes90DaysLate               150000 non-null  int64
 8   NumberRealEstateLoansOrLines          150000 non-null  int64
 9   NumberOfTime60-89DaysPastDueNotWorse  150000 non-null  int64
 10  NumberOfDependents                    146076 non-null  float64
dtypes: float64(4), int64(7)
memory usage: 12.6 MB
None

In [3]:
# MonthlyIncome, NumberOfDependents 에 결측값 있음을 확인

In [4]:
data.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [5]:
data.describe()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [9]:
data.isnull().sum()

SeriousDlqin2yrs                            0
RevolvingUtilizationOfUnsecuredLines        0
age                                         0
NumberOfTime30-59DaysPastDueNotWorse        0
DebtRatio                                   0
MonthlyIncome                           29731
NumberOfOpenCreditLinesAndLoans             0
NumberOfTimes90DaysLate                     0
NumberRealEstateLoansOrLines                0
NumberOfTime60-89DaysPastDueNotWorse        0
NumberOfDependents                       3924
dtype: int64

In [10]:
y = data['SeriousDlqin2yrs']
X = data.drop(columns='SeriousDlqin2yrs')

In [11]:
print(type(y))
y

<class 'pandas.core.series.Series'>

0         1
1         0
2         0
3         0
4         0
         ..
149995    0
149996    0
149997    0
149998    0
149999    0
Name: SeriousDlqin2yrs, Length: 150000, dtype: int64

In [12]:
print(type(X))
X

<class 'pandas.core.frame.DataFrame'>

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
149995,0.040674,74,0,0.225131,2100.0,4,0,1,0,0.0
149996,0.299745,44,0,0.716562,5584.0,4,0,1,0,2.0
149997,0.246044,58,0,3870.000000,NaN,18,0,1,0,0.0
149998,0.000000,30,0,0.000000,5716.0,4,0,0,0,0.0
149999,0.850283,64,0,0.249908,8158.0,8,0,2,0,0.0

In [13]:
data['SeriousDlqin2yrs'].value_counts()

0    139974
1     10026
Name: SeriousDlqin2yrs, dtype: int64

### 결측치, 이상치 처리

#### 이상치 처리

In [15]:
# 이상치를 결측치 처리하기! 
quartile_1 = data.quantile(0.25)
quartile_3 = data.quantile(0.75)
IQR = quartile_3 - quartile_1
tmp = data["SeriousDlqin2yrs"]
# print(tmp)
data_drop = np.where((data < (quartile_1 - 1.5 * IQR)) | (data > (quartile_3 + 1.5 * IQR)), None, data)
data_drop = pd.DataFrame(data_drop, columns=data.columns)
data_drop = data_drop.drop(columns=["SeriousDlqin2yrs"])
# print(tmp)
data_drop["SeriousDlqin2yrs"] = tmp
data_drop

,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents,SeriousDlqin2yrs
0,0.766127,45.0,None,0.802982,9120.0,13.0,0.0,None,0.0,2.0,1
1,0.957151,40.0,0.0,0.121876,2600.0,4.0,0.0,0.0,0.0,1.0,0
2,0.65818,38.0,None,0.085113,3042.0,2.0,None,0.0,0.0,0.0,0
3,0.23381,30.0,0.0,0.03605,3300.0,5.0,0.0,0.0,0.0,0.0,0
4,0.907239,49.0,None,0.024926,None,7.0,0.0,1.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
149995,0.040674,74.0,0.0,0.225131,2100.0,4.0,0.0,1.0,0.0,0.0,0
149996,0.299745,44.0,0.0,0.716562,5584.0,4.0,0.0,1.0,0.0,2.0,0
149997,0.246044,58.0,0.0,None,NaN,18.0,0.0,1.0,0.0,0.0,0
149998,0.0,30.0,0.0,0.0,5716.0,4.0,0.0,0.0,0.0,0.0,0
149999,0.850283,64.0,0.0,0.249908,8158.0,8.0,0.0,2.0,0.0,0.0,0

In [16]:
data_drop.isnull().sum()

RevolvingUtilizationOfUnsecuredLines      763
age                                        46
NumberOfTime30-59DaysPastDueNotWorse    23982
DebtRatio                               31311
MonthlyIncome                           34610
NumberOfOpenCreditLinesAndLoans          3980
NumberOfTimes90DaysLate                  8338
NumberRealEstateLoansOrLines              793
NumberOfTime60-89DaysPastDueNotWorse     7604
NumberOfDependents                      17260
SeriousDlqin2yrs                            0
dtype: int64

#### 결측치 처리

In [13]:
# 1. 이상치를 처리하지 않은 경우

# print(data.isnull().sum(), data.shape)

data_n_median = data.fillna(data.median())
# print(data_n_median.isnull().sum(), data_n_median.shape)

data_n_mean = data.fillna(data.mean())
# print(data_n_mean.isnull().sum(), data_n_mean.shape)

data_n_drop = data.dropna()
# print(data_n_drop.isnull().sum(), data_n_drop.shape)

In [14]:
# 2. 이상치를 null값으로 처리한 경우 


# print(data_drop.isnull().sum(), data.shape)

data_drop_median = data_drop.fillna(data_drop.median())
# print(data_drop_median.isnull().sum(), data_drop_median.shape)

data_drop_mean = data_drop.fillna(data_drop.mean())
# print(data_drop_mean.isnull().sum(), data_drop_mean.shape)

data_drop_drop = data_drop.dropna()
# print(data_drop_drop.isnull().sum(), data_drop_drop.shape)

### base model로 전처리 한 값 정하기

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

####  RandomForest

In [16]:
def rf_test(data):
    y = data['SeriousDlqin2yrs']
    X = data.drop(columns='SeriousDlqin2yrs')
    X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=0)
    
    rf = RandomForestClassifier(random_state=0)
    rf.fit(X_train, y_train)
    
    proba_train = rf.predict_proba(X_train)
    proba_test = rf.predict_proba(X_test)
    
    print("train : ", roc_auc_score(y_train, proba_train[:,1]))
    print("test : ", roc_auc_score(y_test, proba_test[:,1]) )
    print("-" * 100)

In [17]:
rf_test(data_n_median)
rf_test(data_n_mean)
rf_test(data_n_drop)
rf_test(data_drop_median)
rf_test(data_drop_mean)
rf_test(data_drop_drop)

train :  0.9999765266839075
test :  0.8429372466587705
----------------------------------------------------------------------------------------------------
train :  0.9999869814361803
test :  0.8442059341058628
----------------------------------------------------------------------------------------------------
train :  0.9999969292445715
test :  0.8332963119043105
----------------------------------------------------------------------------------------------------
train :  0.9997860484063835
test :  0.7673014496020547
----------------------------------------------------------------------------------------------------
train :  0.9998498453859499
test :  0.766906444023399
----------------------------------------------------------------------------------------------------
train :  0.9999999077235997
test :  0.6997752487282538
----------------------------------------------------------------------------------------------------

In [18]:
# 데이터 선택 : data_n_mean (이상치 처리하지 않고, median으로 설정)

### 하이퍼파라미터 튜닝

In [20]:
from sklearn.model_selection import GridSearchCV

param = {
    'n_estimators' : [200, 300, 400, 500],
    'max_depth' : range(2, 7),
    'max_features' : range(4, 11)
}



rf = RandomForestClassifier(random_state=0)
gs = GridSearchCV(rf, param, scoring='roc_auc', cv=4, n_jobs=-1)

y = data_n_mean['SeriousDlqin2yrs']
X = data_n_mean.drop(columns='SeriousDlqin2yrs')
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=0)
gs.fit(X_train, y_train)

GridSearchCV(cv=4, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': range(2, 7), 'max_features': range(4, 11),
                         'n_estimators': [200, 300, 400, 500]},
             scoring='roc_auc')

In [23]:
result_rf = pd.DataFrame(gs.cv_results_)
result_rf.sort_values('rank_test_score')

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_depth,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,mean_test_score,std_test_score,rank_test_score
115,64.767814,0.201055,1.553143,0.013056,6,4,500,"{'max_depth': 6, 'max_features': 4, 'n_estimat...",0.857763,0.858185,0.857103,0.866306,0.859839,0.003753,1
114,51.608014,0.297525,1.253614,0.006765,6,4,400,"{'max_depth': 6, 'max_features': 4, 'n_estimat...",0.857752,0.858189,0.857094,0.866298,0.859833,0.003753,2
113,38.891055,0.261743,0.943699,0.006712,6,4,300,"{'max_depth': 6, 'max_features': 4, 'n_estimat...",0.857689,0.858054,0.856942,0.866052,0.859684,0.003698,3
112,25.891358,0.173500,0.640476,0.011046,6,4,200,"{'max_depth': 6, 'max_features': 4, 'n_estimat...",0.857592,0.857920,0.857024,0.865948,0.859621,0.003667,4
118,60.961525,0.368324,1.231930,0.003734,6,5,400,"{'max_depth': 6, 'max_features': 5, 'n_estimat...",0.857212,0.857708,0.856744,0.866496,0.859540,0.004030,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,19.361584,0.119564,0.449116,0.006765,2,9,200,"{'max_depth': 2, 'max_features': 9, 'n_estimat...",0.833193,0.828274,0.824280,0.835948,0.830424,0.004488,136
24,20.879935,0.071586,0.462826,0.010207,2,10,200,"{'max_depth': 2, 'max_features': 10, 'n_estima...",0.832849,0.827464,0.823889,0.833803,0.829501,0.004042,137
27,52.362137,0.341906,1.135106,0.014675,2,10,500,"{'max_depth': 2, 'max_features': 10, 'n_estima...",0.832738,0.827395,0.823798,0.833991,0.829481,0.004111,138
26,41.911660,0.251735,0.894322,0.012953,2,10,400,"{'max_depth': 2, 'max_features': 10, 'n_estima...",0.832675,0.827274,0.823786,0.833852,0.829397,0.004080,139
25,31.320631,0.307210,0.679529,0.007811,2,10,300,"{'max_depth': 2, 'max_features': 10, 'n_estima...",0.832748,0.827159,0.823689,0.833795,0.829348,0.004128,140

In [25]:
best_model = gs.best_estimator_
proba_train_rf = best_model.predict_proba(X_train)[:, 1]
proba_test_rf = best_model.predict_proba(X_test)[:, 1]

In [26]:
roc_auc_score(y_train, proba_train_rf), roc_auc_score(y_test, proba_test_rf)

(0.8646119916964934, 0.8616355210545499)

<hr>

In [18]:
from sklearn.model_selection import GridSearchCV

param = {
    'n_estimators' : [200, 300, 400, 500, 600, 700],
    'max_depth' : range(2, 7),
    'max_features' : range(4, 12)
}



rf = RandomForestClassifier(random_state=0)
gs = GridSearchCV(rf, param, scoring='roc_auc', cv=4, n_jobs=-1)

y = data_n_mean['SeriousDlqin2yrs']
X = data_n_mean.drop(columns='SeriousDlqin2yrs')
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, random_state=0)
gs.fit(X_train, y_train)

C:\Users\Playdata\Anaconda3\envs\ml\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [0.84812756 0.84857555 0.84883937 0.84879929 0.84882259 0.8488547
 0.84874756 0.84778954 0.84777309 0.84754508 0.84781348 0.84778565
 0.84205403 0.84525446 0.84684159 0.84685293 0.8469457  0.8473785
 0.84411041 0.84411864 0.84416142 0.84446403 0.84457434 0.84465094
 0.83290814 0.83284295 0.83308032 0.83291492 0.83277095 0.83261599
 0.83042353 0.83105252 0.83132211 0.83121148 0.83102653 0.83067954
 0.82950112 0.82934771 0.82939673 0.82948064 0.82945247 0.82952618
        nan        nan        nan        nan        nan        nan
 0.8529276  0.8529959  0.85307842 0.85331301 0.85325684 0.85330934
 0.85310641 0.85281236 0.85291459 0.85293991 0.85302375 0.85280408
 0.84975571 0.85013987 0.85135885 0.85078988 0.85144594 0.85151057
 0.84979407 0.84984839 0.85018055 0.850482   0.85068551 0.8508071
 0.84804481 0.84775185 0.84799336 0.84782897 0.84795129 0.84775733
 0.83439916 0.83443031 0.83530197 0.83526224 0.83544683 0.83549108
 0.83396679 0.83392526 0.83539178 0.83538714 0.83538216 0.83539771
        nan        nan        nan        nan        nan        nan
 0.8563755  0.85657049 0.85656273 0.85661624 0.85662536 0.85660789
 0.85624363 0.85612373 0.85627139 0.85622279 0.85623179 0.85619937
 0.85546203 0.85544906 0.85559375 0.85559947 0.85557699 0.85565529
 0.85446628 0.85478073 0.85517127 0.85514284 0.85519877 0.85532896
 0.85315455 0.8537261  0.85384465 0.85416031 0.85423498 0.85442622
 0.85014559 0.85259223 0.85304596 0.85313031 0.8531189  0.85325699
 0.8463897  0.8474537  0.84783746 0.84786932 0.84803091 0.84822427
        nan        nan        nan        nan        nan        nan
 0.85830502 0.85828851 0.8583595  0.85843477 0.8584393  0.85846346
 0.85814948 0.85806613 0.85817253 0.85806317 0.85809352 0.85804849
 0.85747028 0.85752622 0.8575392  0.85757792 0.85759182 0.8575956
 0.8569683  0.85712274 0.85737806 0.85734654 0.85744557 0.85744409
 0.85667879 0.85659486 0.85678236 0.85684454 0.85691508 0.85699285
 0.85471003 0.85529496 0.85539073 0.85577728 0.85568541 0.8558633
 0.85281515 0.85291733 0.85348289 0.85349881 0.85339356 0.8534768
        nan        nan        nan        nan        nan        nan
 0.85962097 0.8596842  0.85983315 0.85983919 0.8598281  0.85987366
 0.85953951 0.85950742 0.8595398  0.85947319 0.85949766 0.85948101
 0.85889595 0.85899649 0.85900242 0.85905748 0.85904071 0.85905917
 0.85854269 0.85866834 0.85874635 0.85881473 0.85881476 0.8587863
 0.8582961  0.85836007 0.85851775 0.8584673  0.85848214 0.85853486
 0.85774259 0.8580587  0.85798761 0.85811135 0.85807939 0.85813912
 0.85668953 0.85700534 0.85703279 0.85728772 0.85730652 0.8573476
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(cv=4, estimator=RandomForestClassifier(random_state=0), n_jobs=-1,
             param_grid={'max_depth': range(2, 7), 'max_features': range(4, 12),
                         'n_estimators': [200, 300, 400, 500, 600, 700]},
             scoring='roc_auc')

In [19]:
best_model = gs.best_estimator_
proba_train_rf = best_model.predict_proba(X_train)[:, 1]
proba_test_rf = best_model.predict_proba(X_test)[:, 1]

In [20]:
roc_auc_score(y_train, proba_train_rf), roc_auc_score(y_test, proba_test_rf)

(0.8645389262341763, 0.8615790925006823)

#### RandomForest